.uppermenu{
  width: 34%;
  float: right;
  padding: 10px 0px;
  text-align: right;
  line-height: 40px;
  margin-right: 190px;
  font-weight: bold;
  font-size: 11px;
}
.uppermenu a {
  color: #000000;
  font-size: 1em;
}
.gnd{
  width: 80%;
  background: white;
  overflow: hidden;
  text-align: center;
  color: black;
  font-weight: bold; 
}
.leftmenu {
  height: 40px;
}
a:hover{
  text-decoration: none;
}
p {
  margin-top: 6px;
}
.main {
  height: auto;
}
.text-muted-1{
  color: red;
  width: 185px;
}

audio{
  position: absolute;
  top: 0;
  right: 0;
}