.bbs-title{
    position: relative;
    color: #848282;
    text-align: center;
    font-weight: bold;
}
.bbs-subtitle{
    position: relative;
    font-size: 15px;
    top: 20px;
    color: black;
    font-weight: bold;
}

.bbs-contents{
    border-top: none;
}
.col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    margin: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    line-height: 10px;
}
a {
    color: gray;
    text-decoration: none;
    background-color: transparent;
}