<div class="footer">
    <div class="frame">
        <div id="scroll_topbtn" style="display: none;">
            <div>
                <a href="#">
                    <img src="https://www.hiver.co.kr/static/2.49.9/images/a_btn_top.png" alt="컨텐츠 상단으로 이동">
                </a></div></div> 
                <div id="scroll_topbtn_m" style="display: block;">
                    <a href="#">
                        <img src="https://www.hiver.co.kr/static/2.49.9/images/a_btn_top.png" alt="컨텐츠 상단으로 이동"></a></div> 
                        <div class="footer_sec1">
                            <span>고객센터 1670-6576</span> 
                            <a href="#" target="_blank" rel="noopener noreferrer">
                                <img src="https://www.hiver.co.kr/static/2.49.9/images/icon_footer_05.png" alt=""> FIRST FLOOR 소개</a>
                                 <a href="/faq">
                                    <img src="https://www.hiver.co.kr/static/2.49.9/images/icon_footer_01.png" alt=""> 자주 묻는 질문</a> 
                                    <a href="#" target="_blank" rel="noopener noreferrer">
                                        <img src="https://www.hiver.co.kr/static/2.49.9/images/icon_footer_02.png" alt=""> 카톡 플러스 친구</a> 
                                        <a href="#" target="_blank" rel="noopener noreferrer">
                                            <img src="https://www.hiver.co.kr/static/2.49.9/images/icon_footer_03.png" alt=""> 페이스북</a> 
                                            <a href="#" target="_blank" rel="noopener noreferrer">
                                                <img src="https://www.hiver.co.kr/static/2.49.9/images/icon_footer_04.png" alt=""> 인스타그램</a></div> 

<div class="footer_sec2">
    영업시간 : AM 10:00 ~ PM 17:00 ( 주말,공휴일 제외 )
    <br>
    점심시간 : PM 12:30 ~ PM 13:30
  </div> 
  <div class="footer_sec3">
      <div>
          <a href="#" target="_blank" rel="noopener noreferrer">셀러어드민</a> 
          <a href="#" target="_blank" rel="noopener noreferrer">입점문의</a> 
          <img src="https://www.hiver.co.kr/static/2.49.9/images/escrow.png" onclick="window.open('https://pg.nicepay.co.kr/issue/IssueEscrow.jsp?Mid=combran06m&amp;CoNo=2208893187','escrowHelp','width=500,height=380,scrollbars=auto,resizable=yes')" alt="나이스 에스크로 인증마크" class="escrow-mark">
        </div> 
        <p>
      프로젝트 | 만든사람 : 신창용 |  통신판매업신고 : 2016-인천서구-00359 | 호스팅사업자 : 신창용<br>
      주소 : 인천광역시 연희직업전문학교<br>
      개인정보관리책임자 : 신창용(ckddyd0853@naver.com)<br></p> <p>
      소개<br>
    ^ ^
    </p> <p>
          ㅡ<br>
    </p></div> 
    <div class="footer_sec4">
        <a href="#" target="_blank">이용약관</a>
         ㅣ 
         <a href="#" target="_blank">개인정보처리방침</a>
         ㅣ 
        <a href="#" target="_blank" rel="noopener noreferrer">사업자정보확인</a></div></div></div>